name: Rust

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write
  attestations: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install esp-rs
      uses: esp-rs/xtensa-toolchain@v1.5
      with:
        default: true
        buildtargets: esp32s3
        ldproxy: false

    - name: Build firmware
      run: cd bike-computer && cargo build --release

    - name: Attest build provenance
      uses: actions/attest-build-provenance@v1
      with:
        subject-path: bike-computer/target/xtensa-esp32s3-none-elf/release/bike-computer

    - name: Upload artifact
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: bike-computer/target/xtensa-esp32s3-none-elf/release/bike-computer
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
