name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: xtensa-esp32s3-none-elf
    - uses: esp-rs/espup-action@v1
      with:
        targets: esp32s3
    - name: Build
      run: cd bike-computer && cargo build
