name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: xtensa-esp32s3-none-elf
    - name: Install espup
      run: cargo install espup --locked && espup install
    - name: Build
      run: cd bike-computer && cargo build
