name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: esp-rs/xtensa-toolchain@v1.5
      with:
        default: true
        buildtargets: esp32s3
        ldproxy: false
    - name: Build
      run: cd bike-computer && cargo build
