name: Rust

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write
  attestations: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ github.workspace }}/

    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Install esp-rs
      uses: esp-rs/xtensa-toolchain@v1.5
      with:
        default: true
        buildtargets: esp32s3
        ldproxy: false

    - name: Build firmware
      run: cd bike-computer && cargo build --release

    - name: Attest build provenance
      uses: actions/attest-build-provenance@v3
      with:
        subject-path: ${{ github.workspace }}/bike-computer/target/xtensa-esp32s3-none-elf/release/bike-computer

    - name: Upload artifact
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: ${{ github.workspace }}/bike-computer/target/xtensa-esp32s3-none-elf/release/bike-computer
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
